

<div class="d-flex justify-content-center align-items-center ">
  <p-button
    class="m-2"
    severity="info"
    (click)="editContratante()"
    [disabled]="!isContractSelected"
    ><span class="pi pi-pencil"></span> Edit
  </p-button>
  <p-button
    severity="danger"
    (click)="deleteContratante()"
    [disabled]="!isContractSelected"
><span class="pi pi-trash"></span> Delete
  </p-button>
</div>



<div class="card">
  <p-table [value]="contratantes" selectionMode="single"
           (onRowSelect)="onRowSelect($event)"
           (onRowUnselect)="onRowUnselect($event)">
  >
    <ng-template pTemplate="header" class="text-center">
      <tr>
        <th pSortableColumn="id"> Id <p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-contratante>
      <tr [pSelectableRow]="contratante">
        <td>{{ contratante.id }}</td>
        <td>{{ contratante.name }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>


<p-toast position="top-center"></p-toast>
<p-confirmDialog></p-confirmDialog>
