<p-toast position="top-center"></p-toast>

<div class="container">
  <div class="row">
    <div class="col m-4">
      <!-- Formulario en la columna del medio -->
      <form [formGroup]="autoridadForm" (ngSubmit)="crearAutoridad()" class="text-center">
        <div class="form-group">
          <label for="name"><strong>Name</strong></label>
          <input id="name" type="text" formControlName="name" class="form-control text-center">
        </div>
        <button type="submit" class="btn btn-info" [disabled]="autoridadForm.invalid">
          Create &nbsp; <i class="pi pi-save"></i>
        </button>
      </form>
    </div>
  </div>
</div>
