<div class="container-fluid">
  <!-- Cabecera estilizada -->
  <div class="header text-center mb-4 p-2 rounded shadow-sm">
    <h2 class="display-4">Create New Authority</h2>
    <hr class="my-4" style="border-top: 2px solid #ccc;">
  </div>

  <div class="row">
    <div class="col m-4">
      <!-- Formulario en la columna del medio -->
      <form [formGroup]="autoridadForm" (ngSubmit)="crearAutoridad()" class="text-center">
        <div class="form-group">
          <p-floatLabel>
            <input id="name" pInputText type="text" formControlName="name" class="form-control text-center">
            <label for="name"><strong>Full Name</strong></label>
          </p-floatLabel>
        </div>
        <div class="form-group">
          <p-floatLabel>
            <input id="cifDni" pInputText type="text" formControlName="cifDni" class="form-control text-center">
            <label for="cifDni"><strong>C.I.F / D.N.I</strong></label>
          </p-floatLabel>
        </div>
        <div class="form-group">
          <p-floatLabel>
            <input id="address" pInputText type="text" formControlName="address" class="form-control text-center">
            <label for="address"><strong>Address</strong></label>
          </p-floatLabel>
        </div>
        <div class="form-group">
          <p-floatLabel>
            <input id="municipality" pInputText type="text" formControlName="municipality"
                   class="form-control text-center">
            <label for="municipality"><strong>Municipality</strong></label>
          </p-floatLabel>
        </div>
        <div class="form-group">
          <p-floatLabel>
            <input id="zipCode" pInputText type="text" formControlName="zipCode" class="form-control text-center">
            <label for="zipCode"><strong>Zip Code</strong></label>
          </p-floatLabel>
        </div>
        <div class="form-group">
          <p-floatLabel>
            <input id="country" pInputText type="text" formControlName="country" class="form-control text-center">
            <label for="country"><strong>Country</strong></label>
          </p-floatLabel>
        </div>
        <div class="form-group">
          <p-floatLabel>
            <input id="phone" pInputText type="text" formControlName="phone" class="form-control text-center">
            <label for="phone"><strong>Phone Number</strong></label>
          </p-floatLabel>
        </div>
        <p-button type="submit" severity="success" class="btn-subir align-right" [disabled]="autoridadForm.invalid">
          <i class="pi pi-save"></i> &nbsp; Crear Autoridad
        </p-button>


      </form>
    </div>
  </div>
</div>
