<p-toast position="top-center"></p-toast>

<div class="login-container">
  <h1> CREATE USER </h1>
  <form class="login-form" [formGroup]="createUserForm" (ngSubmit)="onCreateAccount()">
    <span class="p-float-label input-margin">
      <input formControlName="email" id="email" type="text" pInputText />
      <label for="email"><i class="pi pi-envelope"></i> Email</label>
    </span>
    <span class="p-float-label">
      <input id="password" formControlName="password" type="password" pInputText />
      <label for="password"><i class="pi pi-key"></i> Password</label>
    </span>
    <a pButton routerLink="/" label="Already have an account?" class="p-button-text"></a>
    <p-button  type="submit" label="CREATE ACCOUNT" ></p-button>
  </form>
</div>
