
<div class="container-fluid">
  <!-- Cabecera estilizada -->
  <div class="header text-center mb-4 p-2 rounded shadow-sm">
    <h2 class="display-4">Create New Contractor</h2>
    <hr class="my-4" style="border-top: 2px solid #ccc;">
  </div>

  <div class="row">
    <div class="col m-4">
      <!-- Formulario en la columna del medio -->
      <form [formGroup]="contratanteForm" (ngSubmit)="crearContratante()" class="text-center">
        <div class="form-group">
          <p-floatLabel>
            <input id="name" pInputText type="text" formControlName="name" class="form-control text-center">
            <label for="name"><strong>Full Name</strong></label>
          </p-floatLabel>
        </div>
        <p-button type="submit" severity="success" class="btn-subir align-right" [disabled]="contratanteForm.invalid">
          <i class="pi pi-save"></i> &nbsp; Create Contractor
        </p-button>
      </form>
    </div>
  </div>
</div>
