<div class="container-fluid p-3">
  <div class="row">
    <div class="col-3 box full-height" style=" overflow: hidden">
      <p-scrollPanel [style]="{ height: '80vh', overflowX: 'hidden' }">
        <p-tree [value]="data" selectionMode="single" styleClass="overflow-horizontal "
                [propagateSelectionDown]="true" [propagateSelectionUp]="true">
          <ng-template let-node pTemplate="default">
            <div
              routerLinkActive="ui-state-highlight" pRipple class="relative-children row"
              [routerLink]="node?.data?.path ? node.data.path : null"
              [ngClass]="{'clickable': node?.data?.path}">
              <div class="col-2 d-flex justify-content-center align-items-center">
                <i *ngIf="node.data?.icon" class="{{node.data.icon}}" style="font-size: 1.2rem"></i>
              </div>
              <div class="col-10 d-flex align-items-center">
                <span class="p-treenode-label ellipsis ml-3">{{ node['label'] }}</span>
              </div>
            </div>
          </ng-template>
        </p-tree>
      </p-scrollPanel>
    </div>
    <div class="col-9 box full-height">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
