<form [formGroup]="contactForm" >
<div class="contact-page">

  <div class="contact-container">
    <div class="contact-form">
      <h2>Contact us</h2>
      <div class="p-field">
        <span class="p-float-label">
          <input id="name"
                 formControlName="name"
                 type="text" pInputText class="mb-2" />
          <label for="name"><i class="pi pi-user"></i> Name</label>
        </span>
      </div>
      <div class="p-field">
        <span class="p-float-label">
          <input
            formControlName="email"
            id="email" type="text" class="mb-2" pInputText />
          <label for="email"><i class="pi pi-envelope"></i> Email</label>
        </span>
      </div>
      <div class="p-field">
        <span class="p-float-label">
          <textarea
            formControlName="message"
            id="message" pInputTextarea></textarea>
          <label for="message"><i class="pi pi-comment"></i> Message</label>
        </span>
      </div>
      <button
        (click)="SendMessage()"
        pButton type="button" label="Send Message"></button>
    </div>
    <img src="./assets/logo.png" alt="" class="logo">
  </div>
</div>
</form>
