<form [formGroup]="contactForm">
  <div class="contact-page ">
    <div class="contact-container">
      <div class="contact-form">
        <div class="introductory-message">
          <h2 class="text-center">Contact us</h2>
          <p>We are here to help you. Please complete the form below to get in touch with us.
          </p>
        </div>

        <!-- Campo de Nombre -->
        <div class="p-field">
          <span class="p-float-label">
            <input id="name" formControlName="name" type="text" pInputText class="mb-2" />
            <label for="name"><i class="pi pi-user"></i> Name</label>
          </span>
        </div>

        <!-- Campo de Email -->
        <div class="p-field">
          <span class="p-float-label">
            <input formControlName="email" id="email" type="text" class="mb-2" pInputText />
            <label for="email"><i class="pi pi-envelope"></i> Email</label>
          </span>
        </div>

        <!-- Campo de Mensaje -->
        <div class="p-field">
          <span class="p-float-label">
            <textarea formControlName="message" id="message" pInputTextarea></textarea>
            <label for="message"><i class="pi pi-comment"></i> Message</label>
          </span>
        </div>

        <!-- Botón de Enviar -->
        <div class="button-container">
          <p-button [disabled]="contactForm.invalid" (click)="SendMessage()" type="button"><span class="pi pi-send"></span> &nbsp; Send Message  </p-button>
        </div>
      </div>

      <!-- Logo -->
      <div class="logo-container">
        <img src="./assets/logo.png" alt="Company Logo" class="logo">
      </div>
    </div>
  </div>
</form>
