.header {
  background: #DCDDFE;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: -20px;
}
.navbar-brand:hover {
  cursor: pointer;
}
.navbar-brand {
  margin-left: 20px; /* Ajusta este valor según sea necesario */
}

.form-group {
  width: 100%;
}

.align-items-end {
  align-items: flex-end;
}
