<form [formGroup]="createAdministratorForm" (ngSubmit)="crearAdministrador()">
  <div class="header text-center mb-4 p-2 rounded shadow-sm">
    <h2 class="display-4">Create New Administrator</h2>
    <hr class="my-4" style="border-top: 2px solid #ccc;">
  </div>

  <!-- p-multiSelect -->
  <div class="form-group">
    <p-floatLabel>
      <p-dropdown id="selectedUser"
                     [options]="users"
                     formControlName="user"
                     optionLabel="label"
                     optionValue="value"
                     placeholder="Seleccionar usuario"
                     [style]="{'width':'100%'}"
                     [panelStyle]="{'width':'100%'}">
      </p-dropdown>
      <label><strong>User</strong></label>
    </p-floatLabel>
  </div>

  <div class="form-group">
    <p-floatLabel>
      <p-dropdown id="contrato"
                  formControlName="contrato"
                  [options]="contratosOptions"
                  optionLabel="label"
                  optionValue="value"
                  placeholder="Seleccionar opción"
                  [style]="{'width':'100%'}">
      </p-dropdown>
      <label for="contrato"><strong>Contract To Manage</strong></label>
    </p-floatLabel>
  </div>

  <!-- Segundo p-dropdown -->
  <div class="form-group">
    <p-floatLabel>
      <p-dropdown id="dropdown2"
                  formControlName="autoridad"
                  [options]="autoridadOptions"
                  optionLabel="label"
                  optionValue="value"
                  placeholder="Seleccionar opción"
                  [style]="{'width':'100%'}">
      </p-dropdown>
      <label for="dropdown2"><strong>Authority</strong></label>
    </p-floatLabel>
  </div>


  <p-button [disabled]="createAdministratorForm.invalid" type="submit" severity="success" class="align-right">
    <i class="pi pi-save"> </i>  &nbsp; Create Administrator
  </p-button>
</form>
