<p-toast position="top-center"></p-toast>

<div class="container">
  <div class="row">
    <div class="col m-4">
      <form [formGroup]="autoridadForm" (ngSubmit)="editAutoridad()" class="text-center">
        <div class="form-group">
          <label for="name"><strong>Nombre de la autoridad</strong></label>
          <input id="name" type="text" formControlName="name" class="form-control text-center">
        </div>
        <button type="submit" class="btn btn-info" [disabled]="autoridadForm.invalid">
          Save &nbsp; <i class="pi pi-save"></i>
        </button>
      </form>
    </div>
  </div>
</div>
