<p-toast position="top-center"></p-toast>

<button pButton type="button" label="Go Back" routerLink="/main"></button>

<div class="container">
  <div class="row">
    <div class="col-3">
      <!-- Columna izquierda vacía -->
    </div>
    <div class="col-6">
      <!-- Formulario en la columna del medio -->
      <form [formGroup]="createContractForm" (ngSubmit)="createContract()" class="text-center">
        <label for="name"><strong>Nombre del contrato</strong></label>
        <div class="p-field">
          <input pInputText id="name" type="text" formControlName="name" class="form-control text-center">
        </div>
        <label for="creationDate"><strong>Fecha de creación</strong></label>
        <div class="p-field">
          <input pInputText id="creationDate" type="date" formControlName="creationDate" class="form-control text-center">
        </div>
        <label for="contractingEntity"><strong>Entidad contratante</strong></label>
        <div class="p-field">
          <input pInputText id="contractingEntity" type="text" formControlName="contractingEntity" class="form-control text-center">
        </div>
        <label for="authorityEntity"><strong>Entidad autorizadora</strong></label>
        <div class="p-field">
          <input pInputText id="authorityEntity" type="text" formControlName="authorityEntity" class="form-control text-center">
          <br>
          <button pButton type="submit" label="Save" [disabled]="createContractForm.invalid" class="btn btn-primary m-2"></button>
        </div>
      </form>
    </div>
    <div class="col-3">
      <!-- Columna derecha vacía -->
    </div>
  </div>
</div>
