<p-toast position="top-center"></p-toast>

<div class="login-container">
  <h1> WELCOME </h1>
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <span class="p-float-label input-margin">
      <input
        id="email" type="text" pInputText formControlName="email" name="email"/>
      <label for="email"> <i class="pi pi-envelope"></i> Email</label>
    </span>
    <span class="p-float-label input-margin">
      <input id="password" type="password" pInputText formControlName="password" name="password"/>
      <label for="password"><i class="pi pi-key"></i> Password</label>
    </span>
    <a pButton routerLink="/register" label="Don't have an account?" class="p-button-text"></a>
    <button pButton type="submit" [disabled]="loginForm.invalid" label="LOGIN" class="p-button-raised p-button-primary button-margin"></button>
  </form>
</div>
