




/* Contenedor que envuelve las tablas */
.box {
  background-color: var(--surface-e);
  text-align: center;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  overflow-x: auto; /* Añadir scroll horizontal si es necesario */
  max-width: 100%; /* Asegurar que no exceda el ancho del contenedor padre */
}

/* Ajustes específicos para tablas */
table {
  width: 100%; /* Ajustar el ancho de la tabla al contenedor */
  max-width: 100%; /* Asegurar que no exceda el ancho del contenedor */
  table-layout: fixed; /* Ayuda a controlar el tamaño de las celdas */
  word-wrap: break-word; /* Permitir el salto de línea en palabras largas */
}

/* Estilo para las celdas de la tabla */
td, th {
  padding: 10px; /* Espaciado interno de las celdas */
  border: 1px solid #ddd; /* Bordes de las celdas */
  text-align: left; /* Alineación del texto */
  word-wrap: break-word; /* Permitir el salto de línea en palabras largas */
  overflow-wrap: break-word; /* Alternativa para asegurar el salto de línea */
}

/* Otros estilos generales */
.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #DCDDFE;
  color: black;
  text-align: center;
  padding: 10px 0;
  height: 40px;
  z-index: 1000;
}

.p-menubar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #DCDDFE;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 20px;
  box-sizing: border-box;
}

.menu-start, .menu-end {
  display: flex;
  align-items: center;
}

.menu-item {
  display: flex;
  align-items: center;
}

.p-menuitem-link {
  color: black;
  padding: 0 10px;
  line-height: 50px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.p-menuitem-link i {
  margin-right: 8px;
}

.p-menuitem-link:hover {
}

.p-menubar .p-menubar-end .p-button {
  background-color: #f44336;
  border: none;
  height: 30px;
  line-height: 30px;
}

.p-menubar .p-menubar-end .p-button:hover {
  background-color: #d32f2f;
}

/* Remove borders from p-tree */
.p-tree {
  border: none !important;

}

.p-tree-container,
.p-tree ul,
.p-tree li,
.p-tree .p-tree-children,
.p-tree .p-tree-toggler,
.p-tree .p-treenode-content {
  border: none !important;
  outline: none !important;
}

.p-tree .p-treenode {
  border: none !important;
}

.p-tree .p-treenode-content {
  border-bottom: none !important;
}

.p-tree .p-treenode-children .p-treenode-label {
  padding-left: 8px; /* Ajusta este valor según sea necesario */
}
