
.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #DCDDFE;/* Cambia esto a tu color deseado */
  color: black;

  text-align: center;
  padding: 10px 0;
  height: 40px;
  z-index: 1000; /* Asegura que esté sobre otros contenidos */
}


.p-menubar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #DCDDFE; /* Custom background color */
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px; /* Adjust height as necessary */
  padding: 0 20px; /* Space around elements */
  box-sizing: border-box; /* Ensure padding is included in total height */
}

.menu-start, .menu-end {
  display: flex;
  align-items: center;
}

.menu-item {
  display: flex;
  align-items: center;
}

.p-menuitem-link {
  color: black; /* Link color */
  padding: 0 10px; /* Space around links */
  line-height: 50px; /* Ensure links are vertically centered */
  display: flex;
  align-items: center;
  text-decoration: none; /* Remove underline */
}

.p-menuitem-link i {
  margin-right: 8px; /* Space between icon and label */
}

.p-menuitem-link:hover {
}

.p-menubar .p-menubar-end .p-button {
  background-color: #f44336; /* Logout button color */
  border: none;
  height: 30px; /* Adjust button height as necessary */
  line-height: 30px; /* Ensure button text is vertically centered */
}

.p-menubar .p-menubar-end .p-button:hover {
  background-color: #d32f2f; /* Hover effect for logout button */
}

.box {
  background-color: var(--surface-e);
  text-align: center;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

/* Remove borders from p-tree */
.p-tree {
  border: none !important;
}

.p-tree-container,
.p-tree ul,
.p-tree li,
.p-tree .p-tree-children,
.p-tree .p-tree-toggler,
.p-tree .p-treenode-content {
  border: none !important;
  outline: none !important;
}

.p-tree .p-treenode {
  border: none !important;
}

.p-tree .p-treenode-content {
  border-bottom: none !important;
}
