/* Asegura que el html y el body ocupen todo el alto de la ventana */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Define el contenedor principal con flexbox */
body {
  display: flex;
  flex-direction: column;
}

/* Estilo para el header fijo en la parte superior */
app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #007bff; /* Cambia esto a tu color deseado */
  color: #fff;
  z-index: 1000; /* Asegura que esté sobre otros contenidos */
}

/* Contenido principal con margen superior para evitar que el contenido se superponga con el header */
main.content {
  flex: 1 0 auto;
  padding-top: 60px; /* Ajusta este valor basado en la altura de tu header */
  padding-bottom: 60px; /* Ajusta este valor basado en la altura de tu footer */
  overflow-y: auto; /* Permite el scroll del contenido */
}

/* Estilo para el footer fijo en la parte inferior */
.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #007bff; /* Cambia esto a tu color deseado */
  color: #fff;
  text-align: center;
  padding: 10px 0;
  z-index: 1000; /* Asegura que esté sobre otros contenidos */
}
