<div class="row">
  <div class="col-6">
    <div class="button-container">
      <p-button
        (click)="mostrarDialogo()"
        severity="primary"
        class="m-2 btn-uniform">
        <span class="pi pi-plus"></span> &nbsp; New
      </p-button>
    </div>

    <p-dialog header="Add Node" [modal]="true" [(visible)]="visible" [style]="{width: '450px'}">
      <div class="flex mb-3 mt-4">
        <p-floatLabel>
          <input pInputText id="description" [style]="{width: '400px'}" autocomplete="off"/>
          <label for="description" class="font-semibold w-6rem">Description</label>
        </p-floatLabel>
      </div>
      <div class="flex justify-content-end gap-2 align-right">
        <p-button label="Cancel" severity="secondary" (click)="visible = false"/>
        <p-button label="Save" (click)="createNode()"/>
      </div>
    </p-dialog>

    <div class="content-container"> <!-- Agregado un contenedor para el margen -->
      <p-treeTable
        selectionMode="single"
        lazy="true"
        [(selection)]="selectedNode"
        [value]="files" [scrollable]="false"
        (onNodeSelect)="onNodeSelect($event)"
        (onNodeExpand)="onNodeExpand($event.node)">

        <ng-template pTemplate="header">
          <tr>
            <th>Description</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
          <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
            <td>
              <p-treeTableToggler [rowNode]="rowNode"/>
              {{ rowData.description }}
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
  </div>
  <div class="col-6">
  </div>
</div>
