.content-container {
  margin-top: 20px; /* Ajusta este valor según sea necesario */
}
.align-right {
  text-align: right;
  margin-top: 20px;
}

.header {
  background: #DCDDFE;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: -20px;
}
