.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px; /* Espacio entre los botones y la tabla */
  padding: 10px;
  border-radius: 5px;
}

.btn-uniform {
  margin: 0 5px; /* Espacio uniforme a los lados de cada botón */
}
