
<div class="container-fluid">
  <!-- Cabecera estilizada -->
  <div class="header text-center mb-4 p-2 rounded shadow-sm">
    <h2 class="display-4">Crear Nuevo Rol</h2>
    <hr class="my-4" style="border-top: 2px solid #ccc;">
  </div>

  <div class="row">
    <div class="col m-4">
      <!-- Formulario en la columna del medio -->
      <form [formGroup]="createRoleForm" (ngSubmit)="addRole()" class="text-center">
        <div class="form-group">
          <p-floatLabel>
            <input id="nombre"
                   formControlName="nombre"
                   pInputText type="text" class="form-control text-center">
            <label for="nombre"><strong>Nombre</strong></label>
          </p-floatLabel>
        </div>
        <div class="form-group">
          <p-floatLabel>
            <input id="description"
                   formControlName="description"
                   pInputText type="text" class="form-control text-center">
            <label for="description"><strong>Descripción</strong></label>
          </p-floatLabel>
        </div>
        <p-button [disabled]="createRoleForm.invalid" type="submit" severity="success" class="align-right">
          Crear Role &nbsp; <i class="pi pi-save"></i>
        </p-button>
      </form>
    </div>
  </div>
</div>

