<!-- contratos-infinity.component.html -->
<div class="contact-page">
  <div class="contact-container">
    <div class="contact-form">
      <h2 class="text-center">Contratos Infinity</h2>
      <p>
        En <strong>Contratos Infinity</strong>, nos dedicamos a proporcionar acuerdos que permiten una gestión flexible y eficiente de recursos. Nuestro enfoque se centra en ofrecer soluciones innovadoras y adaptables que se ajusten a las necesidades específicas de cada cliente.
      </p>
      <p>
        Nuestros contratos incluyen múltiples opciones y servicios personalizables, lo que asegura una cobertura integral y un rendimiento óptimo para su empresa. Al elegir <strong>Contratos Infinity</strong>, usted se beneficiará de:
      </p>
      <ul>
        <strong>
          <li>Soporte continuo y dedicado.</li>
          <li>Actualizaciones periódicas para mantener su operación a la vanguardia.</li>
          <li>Un enfoque proactivo en la resolución de problemas.</li>
        </strong>

      </ul>
      <p>
        Nuestro objetivo es garantizar su satisfacción y la mejora continua en sus operaciones. Con <strong>Contratos Infinity</strong>, usted tendrá la tranquilidad de saber que sus necesidades están en manos de expertos comprometidos con su éxito.
      </p>
    </div>
  <img src="./assets/logo.png" alt="" class="logo">
  </div>
</div>
