<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12 mt-3">
      <!-- Cabecera estilizada -->
      <div class="header text-center mb-4 p-2 rounded shadow-sm">
        <h3 class="display-6">Crear Nuevo Contrato</h3>
        <hr class="my-4" style="border-top: 2px solid #ccc;">
      </div>

      <!-- Formulario en la columna del medio -->
      <form [formGroup]="createContractForm" (ngSubmit)="createContract()" class="p-4 border rounded shadow-sm bg-white">
        <div class="form-group">
          <p-floatLabel>
            <input id="name" pInputText type="text" formControlName="name" class="form-control text-center">
            <label for="name"><strong>Nombre del Contrato</strong></label>
          </p-floatLabel>
        </div>

        <div class="form-group mt-4">
          <p-floatLabel>
            <input id="startDate" pInputText type="date" formControlName="startDate" class="form-control text-center">
            <label for="startDate"><strong>Fecha de Inicio</strong></label>
          </p-floatLabel>
        </div>

        <div class="form-group mt-4">
          <p-floatLabel>
            <select id="contractingEntity" formControlName="contractingEntity" class="form-control custom-select text-center">
              <option value="" disabled selected hidden>Selecciona entidad contratante</option>
              <option *ngFor="let contratante of contratantes" [value]="contratante.id">{{ contratante.name }}</option>
            </select>
            <label for="contractingEntity"><strong>Entidad Contratante</strong></label>
          </p-floatLabel>
        </div>

        <div class="form-group mt-4">
          <p-floatLabel>
            <select id="authorityEntity" formControlName="authorityEntity" class="form-control custom-select text-center">
              <option value="" disabled selected hidden>Selecciona entidad autoridad</option>
              <option *ngFor="let autoridad of autoridades" [value]="autoridad.id">{{ autoridad.name }}</option>
            </select>
            <label for="authorityEntity"><strong>Entidad Autorizadora</strong></label>
          </p-floatLabel>
        </div>

        <div class="mt-5 button-container">
          <p-button severity="success" type="submit" [disabled]="createContractForm.invalid">
            Crear Contrato &nbsp; <i class="pi pi-save"></i>
          </p-button>
        </div>
      </form>
    </div>
  </div>
</div>

